---
import Swup from "@/components/Swup.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getPages, getRoutes } from "@/utils";

const GRID_SIZE = "10px";

const pages = await getPages();
const routes = await getRoutes();
---

<BaseLayout
	title="snailypo"
	name="index"
	bg="bg-gradient-to-b from-violet-200 to-violet-300">
	<div id="swup-header" class="transition-slide"><!-- --></div>
	<Swup routes={routes}>
		<main
			class={`min-w-[100vw] min-h-[100vh] flex flex-col justify-start gap-20 items-center p-10`}>
			<header
				class="flex flex-wrap gap-4 items-center justify-start w-full"
				style={{ "text-shadow": "0 4px 8px rgb(0 0 0 / .15)" }}>
				<img src="/logo.png" alt="SnailyPo Logo" class="w-60" />
				<h1
					class="lowercase text-7xl text-indigo-500 text-left"
					style={{ "text-shadow": "0 4px 8px rgb(0 0 0 / .10)" }}>
					Snaily<span class="text-red-400">Po</span>
				</h1>
			</header>
			<div
				class="bg-purple-50 rounded-[50%] min-h-[45rem] w-[45rem] grid place-items-center shadow-[0_0_10px] shadow-black/10">
				<nav
					class="grid place-content-center place-items-center gap-4 p-20 h-full grid-flow-dense"
					style={{
						"grid-auto-rows": GRID_SIZE,
						"grid-template-columns": `repeat(auto-fit, ${GRID_SIZE})`,
						width: "min(100%, 100vw)",
					}}>
					{
						[...pages].map((page) => (
							<a
								href={page.href}
								class={`flex rounded-[50%] transition-all items-center justify-center lowercase text-2xl h-full w-full ${page.bg} hover:scale-110`}
								style={{
									"grid-row": `span ${page.size + 5}`,
									"grid-column": `span ${page.size + 5}`,
								}}>
								{page.title}
							</a>
						))
					}
				</nav>
			</div>
		</main>
	</Swup>
</BaseLayout>
