---
import Base from "../layouts/Base.astro";
import { linkList } from "../data";

const positions = [
	{ x: 22, y: 18 },
	{ x: 49, y: 11 },
	{ x: 72, y: 34 },
	{ x: 63, y: 64 },
	{ x: 54, y: 72 },
	{ x: 30, y: 70 },
];
---

<Base bg="" title="snailypo">
	<main
		class="min-w-[100vw] min-h-[100vh] flex flex-col justify-start gap-4 items-center p-10 bg-indigo-200 bg-gradient-to-b from-indigo-200 to-violet-200">
		<header
			class="flex flex-wrap gap-4 items-center justify-center w-full max-w-xl self-start"
			style={{ "text-shadow": "0 4px 8px rgb(0 0 0 / .15)" }}>
			<img src="/logo.png" alt="SnailyPo Logo" class="w-32 sm:w-44" />
			<h1
				class="lowercase text-4xl sm:text-5xl text-indigo-500 text-left"
				style={{ "text-shadow": "0 4px 8px rgb(0 0 0 / .10)" }}>
				Snaily<span class="text-red-400">Po</span>
			</h1>
		</header>
		<div
			class="h-[45rem] max-h-[110vw] w-[45rem] max-w-[110vw] 
				grid place-items-center drop-shadow-[0_0_8px_#00000022] 
				bg-no-repeat bg-center bg-[size:100%_100%] bg-[url('/palette.svg')]">
			<nav
				class="relative place-content-center place-items-center 
					gap-4 p-20 h-full transition-all flex flex-col"
				style={{ width: "100%" }}>
				{
					linkList.slice(0, positions.length).map((link, index) => (
						<a
							href={`${link.href}?from=home`}
							class={`flex rounded-[50%] transition-all 
								items-center justify-center lowercase text-2xl 
								h-[18%] w-[18%] absolute ${link.bg} hover:scale-110`}
							style={{
								"grid-row": `span ${link.size}`,
								"grid-column": `span ${link.size}`,
								"transform-origin": "center center",
								top: `${positions[index]!.y}%`,
								left: `${positions[index]!.x}%`,
							}}>
							<svg
								viewBox="0 0 100 100"
								class="w-[120%] absolute -top-[30%] text-center">
								<def>
									<path id="curve" d="M 10 45 C 25 10 95 10 100 50" />
								</def>
								<text>
									<textPath href="#curve">{link.name}</textPath>
								</text>
							</svg>
						</a>
					))
				}
			</nav>
		</div>
	</main>
</Base>
